body {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      font-weight: 300;
      color: #3d455c;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  h1, h2, h3, h4, h5, h6 {
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 700;
      color: #212631;
      margin: 0px 0px 15px;
  }
  h1 {
      font-size: 34px;
  }
  h2 {
      font-size: 28px;
  }
  h3 {
      font-size: 23px;
  }
  h4 {
      font-size: 16px;
  }
  a {
      font-weight: 600;
      color: #212631;
      text-decoration: none;
  }
  a:hover, a:focus{
      color: #212631;
      text-decoration: underline;
      outline: none;
  }
  p {
      margin: 0px 0px 20px;
  }
  ul,ol{
      margin: 0;
      padding: 0;
      list-style: none 
  }
  ul.list-style, ol.list-style {
      padding-left: 15px;
      margin-bottom: 10px;
  }
  ul.list-style {
      list-style-type: disc;
  }
  figure.figure-img {
      margin-bottom:20px;
  }
  figure.figure-img figcaption {
      padding-top:5px;
      font-size: 13px;
      font-weight:600;
  }
  .input {
      height: 40px;
      border: 2px solid #eceef2;
      width: 100%;
      padding: 0px 15px;
      -webkit-transition: 0.2s border;
      transition: 0.2s border;
  }
  .input:focus {
      border-color: #3d455c;
  }
  textarea.input {
      height: 90px;
      padding: 15px;
  }
  .primary-button {
      padding: 9px 45px;
      border: none;
      background-color: #212631;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
      color: #fff;
      -webkit-transition: 0.2s opacity;
      transition: 0.2s opacity;
  }
  .primary-button:hover,.primary-button:focus {
      color: #fff;
      opacity: 0.9;
  }
  .section {
      padding-top: 40px;
  }
  .section.section-grey {
      background-color: #fbfbfd;
      border-bottom: 1px solid #eceef2;
      border-top: 1px solid #eceef2;
  }
  .section .section-title {
      margin-bottom: 40px;
  }
  .section .section-title h2 {
      text-transform: capitalize;
      font-size: 28px;
  }
  .section-row {
      margin-bottom:40px;
  }
  /*=========================================================
     POST
  ===========================================================*/
  .post {
      margin-bottom: 40px;
  }
  .post .post-img {
      display: block;
      -webkit-transition: 0.2s opacity;
      transition: 0.2s opacity;
  }
  .post .post-img:hover, .post .post-img:focus {
      opacity: 0.9;
  }
  .post .post-img > img {
      width: 100%;
  }
  .post .post-meta {
      margin-top: 15px;
      margin-bottom: 15px;
  }
  .post-meta .post-category {
      font-size: 13px;
      text-transform: uppercase;
      padding: 3px 10px;
      font-weight: 600;
      border-radius: 2px;
      margin-right: 15px;
      color: #FFF;
      background-color: #212631;
      -webkit-transition: 0.2s opacity;
      transition: 0.2s opacity;
  }
  .post-meta .post-category:hover, .post-meta .post-category:focus {
      text-decoration: none;
      opacity: 0.9;
  }
  .post-meta .post-category.cat-1 {
      background-color: #4BB92F;
  }
  .post-meta .post-category.cat-2 {
      background-color: #ff8700;
  }
  .post-meta .post-category.cat-3 {
      background-color: #8d00ff;
  }
  .post-meta .post-category.cat-4 {
      background-color: #0078ff;
  }
  .post-meta .post-date {
      font-size: 13px;
      font-weight: 600;
  }
  .post .post-title {
      font-size: 18px;
      margin-bottom: 0px;
  }
  .post-tags li {
      display:inline-block;
      margin-right:3px;
      margin-bottom:5px;
  }
  .post-tags li a {
      display:block;
      color:#fff;
      background-color: #212631;
      padding:3px 10px;
      font-weight:600;
      border-radius:2px;
      -webkit-transition:0.2s opacity;
      transition:0.2s opacity;
  }
  /*----------------------------*\
     post row
  \*----------------------------*/
  .post.post-row:after {
      content: '';
      display: block;
      clear: both;
  }
  .post.post-row .post-img {
      width: 40%;
      float: left;
  }
  .post.post-row .post-body {
      margin-left: calc(40% + 30px);
  }
  .post.post-row .post-meta {
      margin-top: 0px;
  }
  .post.post-row .post-title {
      margin-bottom: 15px;
  }
 
  @media only screen and (max-width: 767px) {
      .page-header h1 {
          font-size: 28px;
     }
      .post.post-row .post-img {
          width: 100%;
          float: none;
     }
      .post.post-row .post-body {
          margin-left: 0px;
     }
      .post.post-row .post-meta {
          margin-top: 15px;
     }
      .post.post-row .post-body p {
          display:none;
     }
  }
  
  .post-title {
      word-wrap: break-word;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  