#titulo {
    color: #37ADBB;
  }
  
  #titulo > h1 {
    word-wrap: break-word;
  }

  #cuerpo {
    max-width: 100%;
    margin-top: 15px;
  }
  
  #cuerpo > div {
    display: block;
    word-wrap: break-word;
  }
  
  #cuerpo > div {
    max-width: 100%;
  }
  
  .hr-noticia {
    border-top: solid #DCD7D7 1px;
  }