.button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.btn0 {
    background-color: #ff751a; /* Green */
    
}
.btn1 {
    background-color: #4ce600; /* Green */
    content: "Enviando...";
}