body{
    overflow: hidden;
}

.catalogo {
    position: absolute;
    top: 30vh;
    left: 35%;
    height: 70vh;
    width: 64%;
    overflow-y: auto;
    z-index: 1;
}

.carrito{
    position: absolute;
    left: 1%;
    height: 85vh;
    width: 33%;
    z-index: 1;
}

.divScroll{
    position: absolute;
    width: 100%;
    height: 60%;
    overflow-y: scroll;
}

.busqueda{
    position: absolute;
    left: 35%;
    height: 5vh;
    width: 64%;
    z-index: 5;
}


.botonF1{
    width:60px;
    height:60px;
    border-radius:100%;
    background:#F44336;
    left: 5px;
    padding: 0;
    position:absolute;
    margin-right:16px;
    margin-bottom:16px;
    border:none;
    outline:none;
    color:#FFF;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
    z-index: 7;
    visibility: hidden;
}

@media screen and (max-width: 1080px){
    .carrito{
        width: 38%;
    }
    .catalogo{
        left: 40%;
        width: 59%;
    }
    .busqueda{
        left: 40%;
        width: 59%;
    }
}
@media screen and (max-width: 950px){
    .carrito{
        width: 43%;
    }
    .catalogo{
        left: 45%;
        width: 54%;
    }
    .busqueda{
        left: 45%;
        width: 54%;
    }
}
@media screen and (max-width: 780px){
    .carrito{
        visibility: hidden;
    }
    .catalogo{
        left: 1%;
        width: 98%;
    }
    .botonF1{
        visibility: visible;
    }
    .busqueda{
        left: 1%;
        width: 98%;
    }
}